body {
    background-color: #F7F7FC;
}

h1, h2, h3, h4, h5, h6, p {
    color: #706CA0;
    font-family: 'Varela Round', sans-serif;
}

.main-logo {
    font-family: 'Atomic Age', cursive;
    font-size: 180%;
}